body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}


.navbar {
  background-color: rgba(255, 255, 255, 0.7) !important; /* Putih dengan 70% opasitas */
  backdrop-filter: blur(5px); /* Tambahkan blur supaya tampak modern */
  -webkit-backdrop-filter: blur(5px); /* Support Safari */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tambah bayangan ringan */

}
.navbar .container {
  padding-left: 0 !important;
}

.ms-auto {
  padding-right: 0 !important;
}

.hero-section {
  background-image: url('assets/nahhfix.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  padding: 90px 30px;
  min-height: 80vh;
  color: rgb(46, 111, 185);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
  position: relative;
}

.hero-section .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-section .content {
  position: relative;
  z-index: 1;
}

.hero-section h1 {
  color: #395877;
}

.hero-section p {
  color: #fff9f9;
  max-width: 600px;
}

.cta-section {
  background-color: #1E2E4f;
  padding: 130px 0 50px 0;  
}
.cta-section + hr {
    margin: 0;
}

.footer-nav a {
  color: #555;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.btn-outline-pink {
  color: #31487A;
  border-color: #31487A;
  
}

.btn-outline-pink:hover {
  background-color: #628ECB;
  color: #fff;
}

.btn-pink {
  background-color: #8AAEE0;
  border-color: #395886;
  color: white;
}

.btn-pink:hover {
  background-color: #395886;
  border-color: #395886;
}

.btn-peach {
  background-color: #8AAEE0; /* warna peach */
  border-color: #31487A;
  color: white;
}

.btn-peach:hover {
  background-color: #395886; /* peach sedikit lebih gelap */
  border-color: #395886;
}
.cta-section h2 {
  color: white !important;
}
.cta-section p {
  color: white !important;
}
